{% extends 'auth_base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/form/login.css">
{% endblock %}

{% block content %}
    <form method="post" class="form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="form__title">Войти</h1>
        <div class="form__inputs">
            <input type="email" value="{{ last_username }}" name="email" class="form__input" autocomplete="email" required autofocus>
            <input type="password" name="password" class="form__input" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="form__submit" type="submit">Войти</button>
    </form>
    <a href="{{ path('sign_up') }}">Зарегистрироваться</a>
{% endblock %}