{% extends "auth_base.html.twig" %}

{% block title %}Sign up{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="form">
        <h1 class="form__title">Зарегистрироваться</h1>
        {{ form_start(form, {'class': 'form'}) }}
        <div class="form__inputs">
            {{ form_widget(form.firstName) }}
            {{ form_widget(form.secondName) }}
            {{ form_widget(form.email) }}
            {{ form_widget(form.phone) }}
            {{ form_widget(form.password) }}
            {{ form_widget(form.role) }}
            {{ form_widget(form.register) }}
        </div>
        {{ form_end(form) }}
    </div>
    <a href="{{ path('login') }}">Войти</a>
{% endblock %}
